FallbackResource seo_index.php
RewriteEngine on

# Use PHP54 Single php.ini as default
#AddHandler application/x-httpd-php54s .php

RewriteCond %{HTTP_REFERER} !^http://xflo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xflo.info$      [NC]

RewriteCond %{HTTP_REFERER} !^http://www.xflo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xflo.info$      [NC]

RewriteCond %{HTTP_REFERER} !^http://panel.xflo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://panel.xflo.info$      [NC]

RewriteCond %{HTTP_REFERER} !^http://gearbox.xflo.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gearbox.xflo.info$      [NC]

RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

FallbackResource /index.php
DirectoryIndex index.php



